.activities {
  display: grid;
  gap: 1rem;

  span {
    font-weight: 700;
  }

  .info {
    background-color: var(--color-gray-70);
    padding: 1rem;
    border-radius: var(--border-radius);
  }
}
