.search-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid var(--color-gray-20);
  border-radius: 20rem;

  inline-size: min(50rem, 100%);
  padding: 0.5rem 1rem;

  .input-container {
    flex: 1;

    display: flex;
    gap: 0.5rem;

    .prefix {
      font-size: 1.5em;
    }

    input {
      flex: 1;

      border: none;
      background-color: transparent;
      outline: none;
    }
  }

  .divider {
    block-size: 2rem;
    border: 1px solid var(--color-border);
  }

  button {
    svg {
      font-size: 1.5em;
    }

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  &:focus-within {
    border-color: var(--color-primary);

    .prefix {
      color: var(--color-primary);
    }
  }
}
