.doctor-card {
  display: grid;
  grid-template-columns: 3fr auto 2fr;
  gap: 1rem;
  padding: 0.5rem;

  .left {
    display: grid;
    gap: 1rem;
    .primary-info {
      display: flex;
      gap: 1rem;

      .image-container {
        .image {
          border-radius: 999rem;
          border: 0.1rem solid var(--color-blue);
        }
      }

      .doctor-info {
        display: grid;
        gap: 0.5rem;

        .name {
          font-size: var(--fz-400);
          font-weight: 800;
        }

        .description {
          color: var(--color-gray-40);
        }

        .rate {
          display: flex;
          gap: 0.2rem;
          align-items: center;

          > span {
            margin-inline-start: 0.3rem;
            color: var(--color-blue);
          }
        }
      }
    }

    .other-info {
      display: grid;
      gap: 1rem;
    }
  }

  .line {
    border: 1px solid var(--color-gray-80);
  }
  .right {
    display: grid;
    gap: 1rem;

    .address {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      color: var(--color-gray-50);
    }

    .book {
      justify-self: center;

      button {
        border: 0.1rem solid var(--color-primary);
        border-radius: var(--border-radius);

        inline-size: 15rem;
        min-inline-size: min(15rem, 100%);

        background-color: var(--color-primary);
        color: var(--color-primary-opposite);

        font-weight: 700;

        padding: 0.5rem 1rem;
        margin-inline-start: auto;

        &:hover {
          background-color: var(--color-primary-lighter);
          cursor: pointer;
        }
      }
    }
  }
}

.data {
  font-weight: 700;
  padding-inline-start: 0.5rem;
}
