.filter {
  display: grid;
  gap: 1rem;

  li {
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary-lighter);
    }
  }

  .speciality {
    block-size: 25rem;
    overflow-y: auto;
  }

  .selected {
    background-color: var(--color-primary);
  }

  .radio-list {
    display: flex;
    gap: 0.3rem;

    input {
      outline: none;
      border: none;
    }
  }
}
