.doctor-info {
  display: grid;
  gap: 1rem;

  .main {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr auto;

    .image {
      border-radius: 999rem;
    }

    .info {
      align-self: center;
      display: grid;
      gap: 0.5rem;

      .name {
        font-weight: 700;
        font-size: var(--fz-500);
      }

      .speciality {
        font-size: var(--fz-300);
        color: var(--color-gray-40);
      }
    }

    .rate {
      align-self: center;
      justify-self: end;

      display: flex;
      gap: 0.2rem;
      align-items: center;

      border-radius: 999rem;
      background-color: var(--color-star);

      padding: 0.25rem 0.75rem;

      > span {
        margin-inline-start: 0.25rem;
      }

      svg {
        color: var(--color-primary);
      }
    }
  }

  .description {
    justify-self: start;
  }
}
