.header {
  background-color: var(--color-surface-700);
  box-shadow: var(--shadow-400);

  display: flex;
  align-items: center;
  gap: 2rem;

  padding-block: 1rem;

  nav {
    > ul {
      display: flex;
      gap: 2rem;

      > li {
        a {
          &.active {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  a {
    margin-inline-start: auto;
  }
}
