.header {
  padding-block: 1rem;

  display: flex;
  gap: 2rem;

  nav {
    > ul {
      display: flex;
      gap: 2rem;

      > li {
        a {
          &.active {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  button {
    border: 0.1rem solid var(--color-primary);
    background-color: transparent;

    border-radius: var(--border-radius);

    font-weight: 700;

    padding-inline: 2rem;
    padding-block: 1rem;

    margin-inline-start: auto;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-primary-opposite);
    }
  }
}
