.footer {
  background-color: var(--color-gray-12);
  padding-block: 1rem;

  display: grid;
  grid-template-areas: "writings visuals";
  column-gap: 1rem;

  .writings {
    grid-area: writings;
    display: grid;
    gap: 0.5rem;
  }

  .visuals {
    grid-area: visuals;

    > ul {
      display: flex;
      gap: 0.5rem;
    }
  }

  .socials {
    grid-area: socials;

    > ul {
      display: flex;
      gap: 0.5rem;
    }
  }
}
