.page {
  display: grid;
  padding-block: 2rem;

  .search {
    justify-self: center;
    inline-size: min(50rem, 100%);
  }

  .container {
    display: grid;
    grid-template-areas: "filters sort" "filters doctors";
    align-content: start;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;

    gap: 2rem;
    padding-block-start: 4rem;

    .sort {
      grid-area: sort;
    }

    .filters {
      grid-area: filters;
    }

    .doctors {
      grid-area: doctors;
    }
  }
}
